[Unit]
Description=Rem Channel Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{PROJECT_DIR}}
Environment=PYTHONUNBUFFERED=1
ExecStart={{PROJECT_DIR}}/.venv/bin/python -m remchannelbot
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
